<div class="row">
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title"><%= @profile.full_name %></h2>
      </div>
      <div class="panel-body"><p>
  
  <%= image_tag @profile.picture, class: 'img-responsive img-thumbnail' %>
<p>
  <strong>Organisation:</strong>
  <%= link_to @profile.organisation.name, organisation_path(@profile.organisation) %>
</p>


<p>
  <strong>Bio:</strong><br>
  <%= @profile.bio %>
</p>

<% if current_user.profile == @profile %>
<%= link_to 'Edit', edit_profile_path(@profile), class: 'btn btn-warning btn-xs' %>
<% end %>

</div></div></div></div>