<div class="jumbotron">
<h1> <i class="fa fa-home"></i> Welcome to the community!</h1>
<p>Get involved and have fun. <i class="fa fa-users"></i></p>

<%= link_to '<i class="fa fa-plus"></i> Add your organisation'.html_safe, new_organisation_path, class: 'btn btn-primary btn-lg' %>

<%= link_to 'Create your event', new_event_path, class: 'btn btn-success btn-lg' %>

<%= link_to '<i class="fa fa-briefcase"></i>Create Jobs'.html_safe, new_job_path, class: 'btn btn-danger btn-lg'%>

<%= link_to '<i class="fa fa-exclamation-circle"></i>Report Issue'.html_safe, new_issue_path,class:'btn btn-danger btn-lg'%>

<% if user_signed_in? %>
  <% unless current_user.profile %>
    <%= link_to 'Create your profile', new_profile_path, class: 'btn btn-info btn-lg' %>
  <% end %>
<% end %>

</div>

<div class="row">
    <div class="col-md-4">
        <h3>Latest articles</h3>
        <%= render @articles %>
    </div>
    <div class="col-md-4">
        <h3>Upcoming events</h3>
        <%= render @upcoming_events %>
    </div>
    <div class="col-md-4">
        <h3>Jobs</h3>
        <%= render @jobs %>
    </div>
</div>
