<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"><%= link_to event.title, event %> <span class="badge pull-right"><%= event.date.strftime('%d %b %Y') %></span> </h2>
  </div>
  <div class="panel-body">
    <%= image_tag event.image, width: '100%' %>
    <p><%= event.info %></p>
    <p><%= link_to 'More info', event, class: 'btn btn-warning' %></p>
    <p>Posted by: <%= event.organisation.name %></p>
  </div>
</div>